.Header{
    background-color:#fff;
  display: flex;
  justify-content: center;
  z-index: -999;
  background: transparent;
}

.Navigation .nav-links{
    list-style-type: none;
    padding-left: 20%;
}

.Navigation .nav-links li{
  display:  inline-block;
  align-items: center;
  padding: 30px;
  letter-spacing: 5px;
}

.Navigation .nav-links li a{
  text-decoration: none;
  padding: 5px 5px;
  color: white;
  font-size: 10px;
  font-weight: 200;
  
}

.Navigation .nav-links li :hover{
  text-decoration: underline;
}